@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,700&subset=cyrillic");
@font-face {
  font-family: Lato;
  src: url(../fonts/Lato-Regular.ttf); }

@font-face {
  font-family: Lato-Bold;
  src: url(../fonts/Lato-Bold.ttf); }

* {
  margin: 0;
  padding: 0; }

html,
body {
  height: 100%;
  font-size: 8px; }

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%; }

.flex {
  flex: 1 0 auto; }

.container-box {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px; }

.homepage-header {
  width: 100%;
  height: 600px;
  background-color: #b8b8b8;
  margin: 0 auto; }

.slider {
  height: inherit;
  background: url(../img/background_doctors.jpg) center no-repeat; }

.homepage-top-bar {
  width: 100%;
  min-height: 25px;
  border-bottom: 1px solid #ffffff; }
  .homepage-top-bar .container-box {
    display: flex;
    justify-content: space-between; }
  .homepage-top-bar .greetings {
    background-color: #ffffff66;
    color: #003366;
    font-family: Montserrat;
    font-size: 1.625rem;
    font-weight: 500;
    padding: 0 40px;
    line-height: 25px;
    text-transform: uppercase; }
  .homepage-top-bar span a {
    background-color: #ffffff66;
    color: #003366;
    font-family: Montserrat;
    font-size: 1.625rem;
    font-weight: 400;
    padding: 5px 20px;
    line-height: 25px;
    text-decoration-line: none;
    text-transform: uppercase;
    border: 1px solid #ffffff; }
  .homepage-top-bar span a:hover {
    background-color: #ffffff;
    transition: background-color 0.5s; }

.homepage-navigation {
  width: 100%; }
  .homepage-navigation .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .homepage-navigation .navigation__logo {
    display: flex;
    align-items: center;
    padding: 3px 0; }
    .homepage-navigation .navigation__logo a {
      outline: none; }
    .homepage-navigation .navigation__logo a:nth-child(2) {
      padding-left: 6px;
      text-decoration-line: none;
      color: #ffffff;
      font-family: Montserrat;
      font-size: 3rem;
      font-weight: 400;
      line-height: 42px;
      text-transform: uppercase; }
  .homepage-navigation .navigation__menu {
    list-style: none;
    display: flex;
    width: 519px;
    justify-content: space-between; }
    .homepage-navigation .navigation__menu a {
      color: #ffffff;
      font-family: Montserrat;
      font-size: 1.75rem;
      font-weight: 700;
      text-transform: uppercase;
      text-decoration-line: none;
      padding: 4px 5px; }
    .homepage-navigation .navigation__menu a:hover {
      border-bottom: 1px solid #ffffff; }
    .homepage-navigation .navigation__menu .navigation__menu_active:hover {
      border-bottom: none; }
    .homepage-navigation .navigation__menu .navigation__menu_active {
      color: #003366; }

.slider-text {
  display: flex;
  flex-direction: column;
  padding-top: 100px; }
  .slider-text h4 {
    color: #ffffff;
    font-family: Montserrat;
    font-size: 4.5rem;
    font-weight: 700;
    line-height: 44px;
    text-transform: uppercase; }
  .slider-text h4:nth-child(3) {
    color: #003366; }
  .slider-text h4:nth-child(4) {
    color: #003366; }

.advantage {
  border-bottom: 1px solid #003366;
  margin-bottom: 80px; }

.advantage-bar {
  display: flex;
  justify-content: space-between;
  min-height: 150px; }
  .advantage-bar .advantage-bar__item {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 25%;
    color: #003366;
    font-family: Lato;
    font-size: 2rem;
    font-weight: 400;
    line-height: 23px;
    text-transform: uppercase; }
  .advantage-bar .ti-eye,
  .advantage-bar .ti-truck,
  .advantage-bar .ti-ruler-alt,
  .advantage-bar .ti-settings {
    color: #f35f55;
    font-size: 5.625rem;
    font-weight: 400;
    padding: 0 33px 0 12px; }

.title {
  color: #2a2a2a;
  font-family: Montserrat;
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 42px;
  text-transform: uppercase;
  margin-bottom: 50px; }

.service-choose {
  display: flex;
  margin-bottom: 40px;
  flex-wrap: wrap; }
  .service-choose .item {
    border: 0.125rem solid #dddddd;
    width: 33%;
    padding: 1.5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px; }
    .service-choose .item img {
      width: 100%; }
    .service-choose .item h3 {
      color: #003366;
      font-family: Montserrat;
      font-size: 2.625rem;
      font-weight: 700;
      line-height: 2.625rem;
      text-transform: uppercase;
      text-decoration-line: none;
      margin: 20px 0; }
    .service-choose .item p {
      color: #666666;
      font-family: Lato;
      font-size: 2rem;
      font-weight: 400;
      line-height: 27px;
      padding-bottom: 20px;
      clear: both; }
    .service-choose .item a:last-child {
      display: inline-table;
      color: #f35f55;
      font-family: Lato;
      font-size: 2rem;
      font-weight: 700;
      line-height: 30px;
      text-decoration-line: none;
      text-transform: uppercase;
      padding: 5px 5px;
      outline: 1px solid #dddddd;
      box-shadow: -3px 3px 15px #dddddd; }
    .service-choose .item a:last-child:hover {
      outline: 1px solid #f35f55;
      transition: box-shadow 1s; }
    .service-choose .item a:last-child:active {
      box-shadow: inset 0 0 5px #dddddd;
      position: relative;
      top: 1px; }
  .service-choose img:hover {
    transform: scale(1.05);
    transition: transform 0.5s; }
  .service-choose .item:hover {
    border: 0.125rem solid #f35f55;
    transition: border 1s; }

.attantion-line {
  width: 100%;
  background-color: #ebebeb;
  margin-bottom: 80px; }
  .attantion-line .attantion-message {
    display: flex;
    justify-content: flex-end;
    background: url("../img/endoscope1.jpg") no-repeat -10px -160px;
    min-height: 323px; }
    .attantion-line .attantion-message .attantion-col {
      width: 30%; }
    .attantion-line .attantion-message span {
      color: #f35f55;
      font-size: 8.5rem;
      font-weight: 400;
      padding: 50px 34px 0 0;
      float: left; }
    .attantion-line .attantion-message h2 {
      color: #000000;
      font-family: Montserrat;
      font-size: 2.625rem;
      font-weight: 700;
      line-height: 30px;
      text-transform: uppercase;
      padding: 70px 0 35px; }
    .attantion-line .attantion-message p {
      color: #666666;
      font-family: Lato;
      font-size: 2rem;
      font-weight: 400;
      line-height: 30px; }

.about-line {
  background-color: #ebebeb;
  margin-bottom: 80px; }

.about-message {
  display: flex;
  flex-direction: column; }
  .about-message h1 {
    margin: 80px 0 50px; }

.experience-row1 {
  width: 60%;
  display: flex;
  justify-content: space-between; }
  .experience-row1 .exp-col1,
  .experience-row1 .exp-col2 {
    width: 50%; }
  .experience-row1 span {
    color: #f35f55;
    font-size: 5.625rem;
    font-weight: 400;
    float: left;
    padding: 0 34px 0 22px; }
  .experience-row1 p {
    color: #666666;
    font-family: Lato;
    font-size: 2rem;
    font-weight: 400;
    line-height: 26px;
    padding-left: 100px; }
  .experience-row1 h3 {
    color: #003366;
    font-family: Montserrat;
    font-size: 2rem;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    padding-bottom: 15px; }

.experience-row2 {
  width: 60%;
  padding-bottom: 60px; }
  .experience-row2 h2 {
    color: #003366;
    font-family: Montserrat;
    font-size: 2.625rem;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    padding-top: 47px;
    padding-bottom: 27px; }
  .experience-row2 p {
    color: #666666;
    font-family: Lato;
    font-size: 2rem;
    font-weight: 400;
    line-height: 26px;
    padding-bottom: 27px; }
  .experience-row2 a {
    color: #f35f55;
    font-family: Lato;
    font-size: 2rem;
    font-weight: 700;
    line-height: 30px;
    outline: 1px solid #f35f55;
    text-decoration-line: none;
    text-transform: uppercase;
    padding: 5px 5px; }
  .experience-row2 a:hover {
    transition: box-shadow 0.5s;
    box-shadow: 1px 1px 10px; }
  .experience-row2 a:active {
    box-shadow: inset 0px 0px 3px;
    position: relative;
    top: 1px; }

.title-parts {
  display: flex;
  justify-content: space-between;
  color: #2a2a2a;
  font-family: Montserrat;
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 42px;
  text-transform: uppercase; }
  .title-parts a {
    border: 0.125rem solid #333333;
    padding: 9px;
    font-family: Montserrat;
    color: #333333;
    font-size: 2.25rem;
    font-weight: 400;
    text-decoration-line: none;
    text-transform: uppercase; }
  .title-parts a:hover {
    box-shadow: -3px 3px 15px #b8b8b8;
    transition: box-shadow 0.5s; }
  .title-parts a:active {
    box-shadow: inset 0 0 10px #b8b8b8;
    position: relative;
    top: -1px; }

.shop-choose {
  display: flex;
  margin-top: 50px;
  margin-bottom: 80px; }
  .shop-choose .shop-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 0.125rem solid #dddddd;
    width: 25%;
    padding: 1.5% 1.5% 3%;
    text-align: center; }
    .shop-choose .shop-item img {
      width: 100%;
      background-color: #b8b8b8;
      border: 1px solid #b8b8b8; }
    .shop-choose .shop-item p {
      color: #666666;
      font-family: Lato;
      font-size: 2rem;
      font-weight: 400;
      line-height: 23px;
      text-transform: uppercase;
      padding: 29px 0px; }
    .shop-choose .shop-item a:last-child {
      border: 0.125rem solid #dddddd;
      font-family: Montserrat;
      color: #333333;
      font-size: 2.25rem;
      font-weight: 500;
      text-decoration-line: none;
      text-transform: uppercase;
      padding: 10px 20px; }
    .shop-choose .shop-item span {
      color: #f35f55;
      font-size: 2.5rem;
      padding-right: 15px; }
    .shop-choose .shop-item a:last-child:hover {
      background-color: #f35f55;
      transition: background-color 1s; }
      .shop-choose .shop-item a:last-child:hover span {
        color: #ffffff;
        transition: color 1s; }
    .shop-choose .shop-item a:last-child:active {
      box-shadow: inset 0px 0px 15px;
      position: relative;
      top: 1px; }
  .shop-choose .shop-item:hover {
    border: 0.125rem solid #f35f55;
    transition: border 1s; }

footer {
  flex: 0 0 auto; }

.contacts-line {
  width: 100%;
  background-color: #ebebeb; }
  .contacts-line .contacts-line__text {
    display: flex;
    justify-content: space-around;
    color: #333333;
    font-family: Lato;
    font-size: 2rem;
    font-weight: 400;
    line-height: 153px; }
    .contacts-line .contacts-line__text .contacts {
      align-content: center; }
    .contacts-line .contacts-line__text span:nth-child(2n) {
      vertical-align: super; }
    .contacts-line .contacts-line__text span:nth-child(2n+1) {
      color: #f35f55;
      font-size: 3rem;
      font-weight: 400;
      line-height: 156px;
      padding-right: 20px; }

.map-line {
  text-align: center; }

iframe {
  width: 100%;
  height: 300px; }

.footer-links {
  display: flex;
  justify-content: space-between;
  margin-top: 64px;
  padding-bottom: 50px;
  min-height: 252px; }
  .footer-links .footer-links__logo {
    width: 30%;
    padding-right: 10%; }
    .footer-links .footer-links__logo img {
      float: left; }
    .footer-links .footer-links__logo a {
      color: #333333;
      font-family: Montserrat;
      font-size: 3rem;
      font-weight: 400;
      line-height: 67px;
      text-transform: uppercase;
      letter-spacing: -0.075rem;
      text-decoration-line: none;
      padding-left: 6px;
      float: left; }
    .footer-links .footer-links__logo p {
      color: #333333;
      font-family: Lato;
      font-size: 1.625rem;
      font-weight: 400;
      line-height: 30px;
      clear: both;
      padding-top: 10%;
      padding-left: 2%; }

.footer-links__menu {
  width: 20%;
  list-style: none;
  font-family: Lato; }
  .footer-links__menu a {
    color: #333333;
    font-family: Lato;
    font-size: 1.625rem;
    font-weight: 400;
    line-height: 4.231rem;
    text-transform: uppercase; }
  .footer-links__menu li:first-child {
    color: #333333;
    font-family: Lato;
    font-size: 1.625rem;
    line-height: 4.231rem;
    font-weight: 700;
    text-transform: uppercase; }
  .footer-links__menu a:hover {
    color: #f35f55; }

.footer-links__list {
  width: 30%;
  color: #333333;
  font-family: Lato;
  font-size: 1.625rem;
  font-weight: 400;
  line-height: 42px;
  list-style: none; }
  .footer-links__list span {
    padding-right: 5px; }

.footer-rights {
  width: 100%;
  background-color: #000000; }
  .footer-rights a {
    border: 1px solid #ffffff;
    padding: 10px;
    color: #ffffff;
    font-size: 3rem;
    font-weight: 400;
    margin: 27px 0;
    text-decoration-line: none; }
  .footer-rights .footer-rights_flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    font-family: Lato;
    font-size: 1.625rem;
    font-weight: 400;
    line-height: 2.25rem; }

.page-header {
  width: 100%;
  background-color: #ffffff;
  margin: 0 auto; }

.page-top-bar {
  width: 100%;
  min-height: 25px;
  border-bottom: 1px solid #dddddd; }
  .page-top-bar .container-box {
    display: flex;
    justify-content: space-between; }
  .page-top-bar .greetings {
    color: #003366;
    font-family: Montserrat;
    font-size: 1.625rem;
    font-weight: 500;
    padding: 0 40px;
    line-height: 25px;
    text-transform: uppercase; }
  .page-top-bar span a {
    color: #003366;
    font-family: Montserrat;
    font-size: 1.625rem;
    font-weight: 400;
    padding: 5px 20px;
    line-height: 25px;
    text-decoration-line: none;
    text-transform: uppercase; }
    .page-top-bar span a .ti-shopping-cart {
      font-family: themify; }
  .page-top-bar .navigation__menu_active {
    border-bottom: 1px solid #f35f55; }
  .page-top-bar span a:hover {
    border-bottom: 1px solid #f35f55; }

.page-navigation {
  width: 100%; }
  .page-navigation .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .page-navigation .navigation__logo {
    display: flex;
    align-items: center;
    padding: 3px 0; }
    .page-navigation .navigation__logo a {
      outline: none; }
    .page-navigation .navigation__logo a:nth-child(2) {
      padding-left: 6px;
      text-decoration-line: none;
      color: #000000;
      font-family: Montserrat;
      font-size: 3rem;
      font-weight: 400;
      line-height: 42px;
      text-transform: uppercase; }
  .page-navigation .navigation__menu {
    list-style: none;
    display: flex;
    width: 519px;
    justify-content: space-between; }
    .page-navigation .navigation__menu a {
      color: #003366;
      font-family: Montserrat;
      font-size: 1.75rem;
      font-weight: 700;
      text-transform: uppercase;
      text-decoration-line: none;
      padding: 4px 5px; }
    .page-navigation .navigation__menu a:hover {
      border-bottom: 1px solid #003366; }
    .page-navigation .navigation__menu .navigation__menu_active:hover {
      border-bottom: none; }
    .page-navigation .navigation__menu .navigation__menu_active {
      color: #f35f55; }

.advantage_page {
  margin-bottom: 50px;
  background-color: #7796b4; }
  .advantage_page .advantage-bar {
    display: flex;
    justify-content: space-between;
    min-height: 150px; }
    .advantage_page .advantage-bar .advantage-bar__item {
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 25%;
      color: #ffffff;
      font-family: Lato;
      font-size: 2rem;
      font-weight: 400;
      line-height: 23px;
      text-transform: uppercase; }

.advantage_page .ti-eye,
.advantage_page .ti-truck,
.advantage_page .ti-ruler-alt,
.advantage_page .ti-settings {
  color: #ffffff;
  font-size: 5.625rem;
  font-weight: 400;
  padding: 0 33px 0 12px; }

.breadcrumb-block {
  flex-direction: column;
  margin-bottom: 30px; }
  .breadcrumb-block .breadcrumb {
    margin: 0 auto 50px;
    list-style: none;
    display: flex;
    justify-content: center; }
  .breadcrumb-block li {
    font-family: Lato;
    color: #333333;
    font-size: 2rem;
    font-weight: 400;
    text-transform: uppercase; }
    .breadcrumb-block li a {
      font-family: Lato;
      color: #999999;
      font-size: 2rem;
      font-weight: 400;
      text-decoration-line: none; }
  .breadcrumb-block .active::before {
    content: ">"; }
  .breadcrumb-block .passive::before {
    content: ">"; }
  .breadcrumb-block .goodsList {
    display: flex;
    justify-content: center;
    list-style: none; }
    .breadcrumb-block .goodsList .activeCat {
      outline: 2px solid #f35f55; }
    .breadcrumb-block .goodsList button {
      padding: 14px;
      margin: 0 15px;
      border: 1px solid #999999;
      outline: none; }
    .breadcrumb-block .goodsList button:hover {
      box-shadow: 0 0 5px 0 #999999;
      transition: box-shadow 0.2s; }
    .breadcrumb-block .goodsList button:active {
      box-shadow: inset 0 0 15px 0 #999999; }

.shop {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  margin-bottom: 60px; }
  .shop .shop-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 0.125rem solid #dddddd;
    width: 25%;
    margin: 0 0 2%;
    padding: 1.5% 1.5% 3%;
    text-align: center; }
    .shop .shop-item .item-price {
      color: #f35f55;
      font-family: Montserrat;
      font-size: 3rem;
      line-height: 23px;
      text-transform: uppercase;
      padding: 10px 0 20px; }
    .shop .shop-item img {
      width: 100%;
      background-color: #b8b8b8;
      border: 1px solid #b8b8b8; }
    .shop .shop-item a:nth-child(2) {
      color: #666666;
      font-family: Lato;
      font-size: 2rem;
      text-transform: uppercase;
      margin-top: 10px;
      width: fit-content;
      align-self: center; }
    .shop .shop-item button {
      color: #666666;
      font-family: Lato;
      font-size: 2rem;
      font-weight: 400;
      padding: 5px 10px; }
  .shop .shop-item:hover {
    outline: 3px solid #f35f55;
    outline-offset: -3px; }

.goodsSwitchPage {
  display: flex;
  justify-content: center;
  list-style: none; }
  .goodsSwitchPage li {
    margin: 0 10px;
    border: 1px solid #999999;
    text-align: center; }
  .goodsSwitchPage .activePage {
    background-color: #f35f55;
    border: 1px solid #f35f55; }
    .goodsSwitchPage .activePage a {
      color: #ffffff; }
  .goodsSwitchPage a {
    text-decoration-line: none;
    font-family: Lato;
    color: #666666;
    font-size: 1.75rem;
    font-weight: 400;
    line-height: 36px;
    padding: 12px 14px; }

.order-manual {
  margin-bottom: 60px; }
  .order-manual h5 {
    font-family: Montserrat;
    color: #2a2a2a;
    font-size: 25px;
    line-height: 25px;
    text-align: center;
    font-weight: 200; }
  .order-manual i {
    float: right;
    font-size: 10px; }
  .order-manual div {
    display: flex;
    justify-content: space-between;
    font-family: Montserrat;
    color: #2a2a2a;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    font-weight: 200;
    margin: 60px 30px 10px;
    align-items: center; }
    .order-manual div p {
      border: 2px solid #f35f55;
      border-radius: 7rem;
      padding: 15px; }
    .order-manual div span {
      line-height: 94px;
      font-size: 30px;
      color: #f35f55;
      padding: 0 20px; }

.background-block-service {
  display: flex;
  justify-content: center;
  border-top: 1px solid #ced4da;
  border-bottom: 1px solid #ced4da; }

.order-service {
  margin: 30px auto; }
  .order-service h3 {
    font-family: Montserrat;
    color: #2a2a2a;
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    text-align: center;
    margin: 30px 0; }
  .order-service table {
    text-align: center;
    font-family: Lato; }
    .order-service table thead th {
      vertical-align: middle;
      font-size: 2rem; }
    .order-service table th {
      font-size: 2rem; }
    .order-service table p {
      display: none;
      width: 70%;
      margin: 0 auto;
      font-family: Lato;
      font-size: 2rem;
      padding: 10px 0;
      line-height: 2rem;
      color: #f35f55; }
  .order-service select {
    height: 26px;
    font-size: 1.5rem;
    padding: .375rem .75rem;
    font-size: 1.5rem;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: width 1s; }
  .order-service input,
  .order-service textarea {
    width: 100%;
    font-size: 1.5rem; }
  .order-service button {
    outline: none;
    color: #666666;
    font-weight: 400;
    font-size: 4rem;
    margin: 0 5px;
    padding: 5px 6px;
    border: 0.125rem solid #666666; }
  .order-service button:hover {
    box-shadow: -3px 3px 15px #b8b8b8;
    transition: box-shadow 0.5s; }
  .order-service button:active {
    outline: none;
    box-shadow: inset 0 0 10px #b8b8b8;
    position: relative;
    top: -1px; }
  .order-service button:focus {
    outline: none; }
  .order-service .ti-minus {
    float: right; }

.background-block-equip {
  display: flex;
  justify-content: center;
  border-top: 1px solid #ced4da;
  border-bottom: 1px solid #ced4da;
  margin-bottom: 30px; }

.order-shop {
  display: flex;
  align-items: center;
  margin: 30px 0;
  font-family: Lato; }
  .order-shop table {
    display: block; }
  .order-shop h3 {
    font-family: Montserrat;
    color: #2a2a2a;
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    text-align: right;
    display: block; }
    .order-shop h3 a {
      color: #003366; }
  .order-shop thead th {
    vertical-align: middle;
    font-size: 2rem; }
  .order-shop th, .order-shop td {
    font-size: 2rem;
    text-align: center; }

.background-block-contacts {
  display: flex;
  justify-content: center;
  background-color: #ebebeb; }

.order-contacts {
  display: flex;
  align-items: center;
  margin: 30px 0;
  padding: 15px; }
  .order-contacts .contacts-form {
    width: 100%; }
  .order-contacts h3 {
    display: flex;
    align-items: center;
    margin: 0;
    height: 100%;
    font-family: Montserrat;
    color: #2a2a2a;
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    z-index: 1;
    background-color: #ebebeb; }
  .order-contacts input,
  .order-contacts textarea {
    width: 70%;
    margin-bottom: 5px;
    font-family: Lato;
    font-size: 2rem;
    padding: 10px;
    line-height: 2rem;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: left 1s; }
  .order-contacts input:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); }
  .order-contacts .input-err {
    width: fit-content;
    overflow: hidden;
    margin-left: -150px;
    float: left;
    display: none;
    margin-bottom: 5px;
    font-family: Lato;
    font-size: 2rem;
    padding: 10px;
    line-height: 2rem;
    color: #f35f55; }

.submitOrderBtn {
  display: block;
  clear: both;
  padding: 0 35px;
  margin: 0 auto 60px;
  font-family: Lato;
  font-size: 25px;
  line-height: 50px;
  color: #ffffff;
  font-weight: 400;
  text-align: center;
  background-color: #f35f55;
  outline: none; }

.product {
  border: 1px solid #dddddd;
  padding: 15px; }
  .product .product-img {
    background-color: #dddddd;
    min-width: 360px;
    min-height: 360px; }
  .product .col-sm-3 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; }
    .product .col-sm-3 span {
      font-family: Montserrat;
      color: #333333;
      font-size: 2.625rem;
      font-weight: 700;
      text-align: left; }
    .product .col-sm-3 span:nth-child(2) {
      font-family: Lato;
      color: #003366;
      font-size: 4.5rem;
      font-weight: 400; }
    .product .col-sm-3 button {
      background-color: #f35f55;
      padding: 7px 15px;
      font-family: Lato;
      color: #ffffff;
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.438;
      text-align: left; }
  .product .product-description {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; }
    .product .product-description h6 {
      font-family: Lato;
      color: #333333;
      font-size: 2rem;
      font-weight: 900;
      line-height: 1.875;
      text-align: left; }
    .product .product-description p {
      font-family: Lato;
      color: #666666;
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.875;
      text-align: left; }
  .product .product-img-sm {
    background-color: #dddddd;
    width: 83px;
    height: 83px;
    margin: 20px 15px 0 0; }

.selectService {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  margin-bottom: 30px; }
  .selectService .item {
    border: 0.125rem solid #dddddd;
    width: 30%;
    padding: 1.5%;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    .selectService .item img {
      width: 100%;
      height: 260px; }
    .selectService .item h3 {
      color: #003366;
      font-family: Montserrat;
      font-size: 2.625rem;
      font-weight: 700;
      line-height: 2.625rem;
      text-transform: uppercase;
      text-decoration-line: none;
      margin: 20px 0; }
    .selectService .item p {
      color: #666666;
      font-family: Lato;
      font-size: 2rem;
      font-weight: 400;
      line-height: 27px;
      padding-bottom: 20px;
      clear: both; }
    .selectService .item a:last-child {
      display: inline-table;
      color: #f35f55;
      font-family: Lato;
      font-size: 2rem;
      font-weight: 700;
      line-height: 30px;
      text-decoration-line: none;
      text-transform: uppercase;
      padding: 5px 5px;
      outline: 1px solid #dddddd;
      box-shadow: -3px 3px 15px #dddddd; }
    .selectService .item a:last-child:hover {
      outline: 1px solid #f35f55;
      transition: box-shadow 1s; }
    .selectService .item a:last-child:active {
      box-shadow: inset 0 0 5px #dddddd;
      position: relative;
      top: 1px; }
  .selectService img:hover {
    transform: scale(1.05);
    transition: transform 0.5s; }
  .selectService .item:hover {
    border: 0.125rem solid #f35f55;
    transition: border 1s; }

.service-single {
  display: flex;
  justify-content: space-between; }
  .service-single .service-product {
    width: 65%;
    display: flex;
    flex-direction: column;
    border: 1px solid #dddddd;
    padding: 15px; }
    .service-single .service-product img {
      min-width: 100%;
      margin-bottom: 30px; }
    .service-single .service-product p {
      font-family: Lato;
      color: #666666;
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.875;
      text-align: left; }

.right-nav-menu {
  width: 30%; }
  .right-nav-menu .active {
    background-color: #f35f55;
    border: 1px solid #f35f55; }
    .right-nav-menu .active span {
      font-family: Montserrat;
      color: #ffffff;
      font-size: 2rem;
      font-weight: 500;
      line-height: 3;
      text-align: center;
      text-transform: uppercase; }
  .right-nav-menu ul {
    list-style: none; }
    .right-nav-menu ul li {
      width: 100%;
      border: 1px solid #dddddd;
      text-align: center; }
      .right-nav-menu ul li a {
        font-family: Montserrat;
        color: #003366;
        font-size: 2rem;
        font-weight: 500;
        line-height: 3;
        text-transform: uppercase; }

.content-block {
  display: flex;
  justify-content: space-between; }
  .content-block .side-bar {
    width: 25%;
    max-height: min-content;
    list-style: none;
    border: 1px solid #dddddd; }
    .content-block .side-bar li {
      display: flex;
      justify-content: space-between;
      max-height: 100px; }
      .content-block .side-bar li img {
        max-width: 80px;
        max-height: 70px; }
      .content-block .side-bar li a {
        width: 100%;
        padding: 30px 15px;
        font-family: Lato;
        color: #333333;
        font-size: 2rem;
        font-weight: 400;
        text-align: left;
        text-decoration-line: none;
        border: 1px solid white; }
      .content-block .side-bar li a:hover {
        box-shadow: 5px 3px 15px #dddddd;
        transition: box-shadow 0.5s; }
      .content-block .side-bar li a:active {
        box-shadow: inset 0 0 5px #dddddd;
        position: relative;
        top: 1px; }
    .content-block .side-bar li:first-child {
      background-color: #f35f55;
      font-family: Montserrat;
      color: #ffffff;
      font-size: 2rem;
      font-weight: 400;
      line-height: 6.5rem;
      text-align: left;
      text-transform: uppercase;
      margin: 0;
      padding: 0 15px; }

.news-block {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 70%; }
  .news-block .post {
    display: flex;
    flex-direction: column;
    border: 1px solid #dddddd;
    padding: 15px;
    margin-bottom: 30px; }
    .news-block .post img {
      width: 100%;
      max-height: 60%;
      margin-bottom: 30px; }
    .news-block .post h1 {
      font-family: Montserrat;
      color: #003366;
      font-size: 2.625rem;
      font-weight: 700; }
    .news-block .post .post-info {
      font-family: Lato;
      color: #999999;
      font-size: 1.75rem;
      font-weight: 400;
      margin: 15px 0; }
      .news-block .post .post-info span {
        color: #003366;
        font-size: 1.75rem;
        font-weight: 400;
        line-height: 2.286;
        text-align: left; }
      .news-block .post .post-info span:nth-child(2) {
        padding-left: 20px; }
    .news-block .post .post-text {
      font-family: Lato;
      color: #666666;
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.875;
      text-align: left;
      margin-bottom: 15px; }
    .news-block .post a {
      color: #f35f55;
      font-family: Lato;
      font-size: 2rem;
      font-weight: 700;
      line-height: 30px;
      text-decoration-line: none;
      text-transform: uppercase;
      padding: 5px 5px;
      outline: 1px solid #dddddd;
      box-shadow: -3px 3px 15px #dddddd;
      text-align: center; }
    .news-block .post a:hover {
      outline: 1px solid #f35f55;
      transition: box-shadow 1s; }
    .news-block .post a:active {
      box-shadow: inset 0 0 5px #dddddd;
      position: relative;
      top: 1px; }

.about-text {
  background-color: #ebebeb;
  display: flex;
  flex-direction: column;
  color: #333333;
  font-family: Lato;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.875; }
  .about-text h1 {
    margin: 50px 0 0; }
  .about-text p {
    margin: 50px 0;
    width: 55%; }

.about-video {
  min-height: 500px;
  align-items: center;
  display: flex;
  color: #333333;
  font-family: Lato;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.875; }
  .about-video p {
    margin: 50px 0;
    width: 50%; }
  .about-video .video-presentation {
    width: 50%;
    height: 295px;
    padding: 15px;
    border: 1px solid #dddddd;
    margin-left: 25px; }

.gallery-title {
  display: flex;
  justify-content: space-between;
  color: #2a2a2a;
  font-family: Montserrat;
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 42px;
  text-transform: uppercase; }
  .gallery-title .arrow-buttons {
    display: flex;
    justify-content: space-between; }
    .gallery-title .arrow-buttons button {
      color: #666666;
      font-weight: 400;
      line-height: 34px;
      text-align: center;
      padding: 5px 6px;
      margin: 0 5px;
      border: 0.125rem solid #666666;
      outline: none; }
    .gallery-title .arrow-buttons button:hover {
      box-shadow: -3px 3px 15px #b8b8b8;
      transition: box-shadow 0.5s; }
    .gallery-title .arrow-buttons button:active {
      box-shadow: inset 0 0 10px #b8b8b8;
      position: relative;
      top: -1px; }

.gallery-slider {
  display: flex; }

.slider-wrapper {
  display: flex;
  position: relative;
  padding: 50px 0 80px;
  margin: 0 auto; }
  .slider-wrapper .slider-item {
    overflow: hidden;
    width: 390px;
    height: 390px;
    position: relative;
    background-color: rgba(0, 51, 102, 0.7); }
    .slider-wrapper .slider-item a {
      display: flex;
      justify-content: center;
      width: inherit;
      height: inherit; }
      .slider-wrapper .slider-item a .ti-fullscreen {
        color: #f35f55;
        font-size: 36px;
        font-weight: 400;
        line-height: 390px; }
      .slider-wrapper .slider-item a .gallery-image {
        position: absolute;
        height: inherit; }
    .slider-wrapper .slider-item a:hover .gallery-image {
      transform: scale(1.1);
      transition: transform 1s;
      opacity: 0.7;
      z-index: -1; }
    .slider-wrapper .slider-item a:hover {
      text-decoration-line: none; }

.overlay {
  display: none;
  text-align: center;
  line-height: 100;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 51, 102, 0.7);
  z-index: 100; }
  .overlay .fullImg {
    display: inline-block;
    z-index: 100;
    transition: all 1s; }

.process-choose {
  display: flex;
  margin-top: 50px;
  margin-bottom: 80px; }
  .process-choose .item {
    border: 0.125rem solid #dddddd;
    width: 33%;
    padding: 1.5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    .process-choose .item img {
      width: 100%;
      max-height: 263px; }
    .process-choose .item h3 {
      color: #003366;
      font-family: Montserrat;
      font-size: 2.625rem;
      font-weight: 700;
      line-height: 2.625rem;
      text-transform: uppercase;
      text-decoration-line: none;
      margin: 20px 0; }
      .process-choose .item h3 span {
        color: #f35f55; }
    .process-choose .item p {
      color: #666666;
      font-family: Lato;
      font-size: 2rem;
      font-weight: 400;
      line-height: 27px;
      padding-bottom: 20px;
      clear: both; }
    .process-choose .item a:last-child {
      display: inline-table;
      color: #f35f55;
      font-family: Lato;
      font-size: 2rem;
      font-weight: 700;
      line-height: 30px;
      text-decoration-line: none;
      text-transform: uppercase;
      padding: 5px 5px;
      outline: 1px solid #dddddd;
      box-shadow: -3px 3px 15px #dddddd; }
    .process-choose .item a:last-child:hover {
      outline: 1px solid #f35f55;
      transition: box-shadow 1s; }
    .process-choose .item a:last-child:active {
      box-shadow: inset 0 0 5px #dddddd;
      position: relative;
      top: 1px; }
  .process-choose img:hover {
    transform: scale(1.05);
    transition: transform 0.5s; }
  .process-choose .item:hover {
    border: 0.125rem solid #f35f55;
    transition: border 1s; }

.ask-question {
  margin-bottom: 60px; }
  .ask-question a {
    display: flex;
    justify-content: center;
    width: 50%;
    margin: 0 auto;
    border: 1px solid #2a2a2a;
    line-height: 80px;
    text-transform: uppercase;
    font-family: Montserrat;
    color: #2a2a2a;
    font-size: 3rem;
    font-weight: 500;
    text-decoration-line: none; }
  .ask-question a:first-child {
    margin-bottom: 20px; }
  .ask-question a:hover {
    border-color: #f35f55;
    color: #f35f55;
    text-decoration-line: none;
    transition: all 0.5s; }
  .ask-question a:active {
    position: relative;
    top: 1px; }

.contacts-block {
  width: 100%;
  margin-bottom: 60px; }
  .contacts-block .contacts-line__text {
    display: flex;
    justify-content: space-around;
    color: #333333;
    font-family: Lato;
    font-size: 2rem;
    font-weight: 400;
    line-height: 2; }
    .contacts-block .contacts-line__text .contacts {
      align-content: center; }
    .contacts-block .contacts-line__text span:nth-child(2n) {
      vertical-align: super; }
    .contacts-block .contacts-line__text span:nth-child(2n+1) {
      color: #f35f55;
      font-size: 3rem;
      font-weight: 400;
      line-height: 3;
      padding-right: 20px; }

.sendForm {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }
  .sendForm input[type="text"]:nth-child(3) {
    width: 100%; }
  .sendForm textarea {
    width: 100%;
    padding: 0 20px;
    margin-bottom: 20px;
    border: 1px solid #666666;
    font-family: Lato;
    color: #2a2a2a;
    font-size: 2rem;
    font-weight: 400;
    line-height: 3; }
  .sendForm input {
    width: 45%;
    padding: 0 20px;
    margin-bottom: 20px;
    border: 1px solid #666666;
    font-family: Lato;
    color: #2a2a2a;
    font-size: 2rem;
    font-weight: 400;
    line-height: 3; }
  .sendForm input[type="submit"] {
    width: auto;
    padding: 0 35px;
    margin: 0 auto 60px;
    font-family: Lato;
    color: #ffffff;
    font-weight: 400;
    text-align: center;
    background-color: #f35f55; }

.loginForm {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; }
  .loginForm .input_error {
    width: 49%;
    font-family: Lato;
    color: #f35f55;
    font-size: 1.5rem; }
  .loginForm label {
    font-family: Lato;
    color: #666666;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 400;
    margin: 30px; }
  .loginForm input[type="text"]:nth-child(3) {
    width: 100%; }
  .loginForm input[type="text"]:nth-child(8) {
    width: 100%;
    height: 200px; }
  .loginForm input {
    width: 45%;
    padding: 0 20px;
    margin-top: 10px;
    border: 1px solid #666666;
    font-family: Lato;
    color: #999999;
    font-size: 2rem;
    font-weight: 400;
    line-height: 3; }
  .loginForm input[type="submit"] {
    width: auto;
    padding: 0 35px;
    margin: 0 auto 60px;
    font-family: Lato;
    color: #ffffff;
    font-weight: 400;
    text-align: center;
    background-color: #f35f55; }

.registerForm {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }
  .registerForm .form-group-1 {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
  .registerForm .form-group-2 {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
  .registerForm .input_error {
    font-family: Lato;
    color: #f35f55;
    font-size: 1.5rem; }
  .registerForm label {
    font-family: Lato;
    color: #666666;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 400; }
  .registerForm input {
    width: 45%;
    padding: 0 20px;
    margin-top: 10px;
    border: 1px solid #666666;
    font-family: Lato;
    color: #999999;
    font-size: 2rem;
    font-weight: 400;
    line-height: 3; }
  .registerForm input[type="submit"] {
    width: auto;
    padding: 0 35px;
    margin: 0 auto 60px;
    font-family: Lato;
    color: #ffffff;
    font-weight: 400;
    text-align: center;
    background-color: #f35f55; }

.getCalc-line {
  width: 100%;
  border-top: 1px solid #003366;
  height: 18.63rem; }
  .getCalc-line a {
    background-color: #003366;
    padding: 12px 20px;
    font-family: Lato;
    color: #ffffff;
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.438;
    margin: 54px 0;
    text-decoration-line: none; }
  .getCalc-line .getCalc_flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Montserrat;
    color: #003366;
    font-size: 2.625rem;
    font-weight: 700;
    line-height: 1.429; }

.footer-links-background {
  background-color: #7290ad; }
  .footer-links-background .footer-links-page {
    display: flex;
    justify-content: space-between;
    padding: 80px 0; }
  .footer-links-background .footer-links__logo {
    width: 30%;
    padding-right: 10%; }
    .footer-links-background .footer-links__logo img {
      float: left; }
    .footer-links-background .footer-links__logo .contacts {
      font-family: Lato;
      color: #ffffff;
      font-size: 1.625rem;
      font-weight: 400;
      line-height: 3.231;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      min-height: 40%;
      padding-left: 10%; }
    .footer-links-background .footer-links__logo p {
      color: #ffffff;
      font-size: 1.625rem;
      font-weight: 400;
      line-height: 2.5rem;
      clear: both;
      padding-top: 10%; }
  .footer-links-background .footer-links__menu {
    width: 20%;
    list-style: none;
    font-family: Lato; }
    .footer-links-background .footer-links__menu a {
      font-family: Lato;
      color: #ffffff;
      font-size: 1.625rem;
      font-weight: 400;
      line-height: 4.231rem;
      text-decoration: underline; }
    .footer-links-background .footer-links__menu li:first-child {
      color: #ffffff;
      font-family: Lato;
      font-size: 1.625rem;
      line-height: 4.231rem;
      font-weight: 700;
      text-transform: uppercase; }
    .footer-links-background .footer-links__menu a:hover {
      color: #f35f55; }
  .footer-links-background .footer-links__list {
    width: 30%;
    font-family: Lato;
    color: #ffffff;
    font-size: 1.625rem;
    font-weight: 400;
    line-height: 3.231; }
    .footer-links-background .footer-links__list span {
      padding-right: 5px; }

.account-menu {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px; }
  .account-menu li {
    display: flex;
    line-height: 6rem; }
    .account-menu li a {
      width: 100%;
      border: 1px solid #dddddd;
      padding: 0 15px;
      font-family: Lato;
      color: #333333;
      font-size: 2rem;
      font-weight: 400;
      text-align: center;
      text-transform: uppercase;
      text-decoration-line: none; }
    .account-menu li a:hover {
      box-shadow: 5px 3px 15px #dddddd;
      transition: box-shadow 0.5s; }
    .account-menu li a:active {
      box-shadow: inset 0 0 5px #dddddd;
      position: relative;
      top: 1px; }
    .account-menu li .account-menu-active {
      border: 1px solid #f35f55; }

.account-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .account-block table {
    font-size: 1.5rem;
    word-wrap: break-word; }

.orders-table {
  border: 1px solid #dee2e6;
  padding: 5px;
  margin-bottom: 20px; }
  .orders-table table thead {
    text-transform: uppercase;
    text-align: center;
    font-size: 1.5rem; }
  .orders-table tbody tr {
    text-align: center; }

.hrow {
  text-align: right;
  font-size: 1.5rem; }

table caption {
  caption-side: top;
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem; }

@media screen and (min-width: 426px) and (max-width: 850px) {
  .homepage-header,
  .page-header {
    height: auto; }
  .homepage-top-bar .container-box,
  .page-top-bar .container-box {
    justify-content: space-between; }
    .homepage-top-bar .container-box span,
    .page-top-bar .container-box span {
      margin-left: 10px; }
  .navigation {
    flex-direction: column; }
    .navigation .navigation__menu {
      padding-top: 10px; }
  .slider-text {
    padding: 50px 0;
    align-items: center; }
  .advantage-bar {
    flex-wrap: wrap;
    justify-content: space-around; }
    .advantage-bar .advantage-bar__item {
      width: 40%; }
  h1 {
    text-align: center; }
  .service-choose {
    flex-wrap: wrap;
    justify-content: center; }
    .service-choose .item {
      width: 46%; }
    .service-choose .item:last-child {
      width: 95%; }
  .attantion-line .attantion-message {
    min-height: 249px;
    background: url("img/endoscope1.jpg") no-repeat -10px -222px; }
    .attantion-line .attantion-message .attantion-col {
      width: 40%; }
  .about-message .title {
    justify-content: center;
    text-align: center; }
  .about-message .experience-row1 {
    width: 100%;
    justify-content: space-between; }
  .about-message .experience-row2 {
    width: 100%;
    text-align: center; }
  .title-parts h1 {
    margin: 0 0; }
  .shop-choose {
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 50px; }
    .shop-choose .shop-item {
      width: 46%;
      margin-bottom: 30px; }
  .shop {
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 50px; }
    .shop .shop-item {
      width: 29%; }
  .contacts-line .contacts-line__text {
    flex-wrap: wrap;
    line-height: 0;
    text-align: center; }
    .contacts-line .contacts-line__text .contacts {
      width: 100%; }
      .contacts-line .contacts-line__text .contacts span {
        line-height: 60px; }
  .footer-links {
    margin: 40px 0;
    flex-direction: column; }
    .footer-links .footer-links__list {
      display: none; }
    .footer-links .footer-links__menu {
      width: 100%;
      display: flex;
      justify-content: space-around; }
    .footer-links .footer-links__logo {
      width: 90%;
      text-align: center;
      padding-right: 0; }
      .footer-links .footer-links__logo img {
        float: none;
        vertical-align: bottom; }
      .footer-links .footer-links__logo a {
        float: none; }
      .footer-links .footer-links__logo p {
        padding-top: 10px; }
  .footer-rights_flex span {
    margin: 0 auto; } }

@media screen and (max-width: 425px) {
  .homepage-header {
    height: auto; }
  .homepage-top-bar .container-box {
    display: flex;
    flex-direction: column; }
    .homepage-top-bar .container-box span {
      margin-left: 10px; }
  .navigation {
    flex-direction: column; }
    .navigation .navigation__menu {
      padding-top: 10px;
      flex-wrap: wrap;
      width: 85%; }
      .navigation .navigation__menu li {
        padding: 10px 25px; }
  .slider-text {
    padding: 30px 0;
    align-items: center; }
    .slider-text h4:nth-child(3),
    .slider-text h4:nth-child(4) {
      display: none; }
  .advantage {
    margin-bottom: 40px; }
  .advantage-bar {
    flex-direction: column; }
    .advantage-bar .advantage-bar__item {
      width: 100%;
      justify-content: flex-start;
      padding: 10px 0; }
  h1 {
    text-align: center; }
  .service-choose {
    margin-bottom: 40px;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center; }
    .service-choose .item {
      width: 100%; }
      .service-choose .item a:last-child {
        width: 100%;
        box-sizing: border-box; }
  .attantion-line {
    margin-bottom: 40px; }
  .attantion-line .attantion-message {
    min-height: 249px;
    background: url("img/endoscope1.jpg") no-repeat -10px -222px; }
    .attantion-line .attantion-message .attantion-col {
      width: 100%; }
      .attantion-line .attantion-message .attantion-col h2, .attantion-line .attantion-message .attantion-col p {
        color: #f35f55; }
  .about-message .title {
    justify-content: center;
    text-align: center; }
  .about-message .experience-row1 {
    width: 100%;
    justify-content: space-between;
    flex-direction: column; }
    .about-message .experience-row1 .exp-col1 {
      margin-bottom: 15px;
      width: 100%; }
    .about-message .experience-row1 .exp-col2 {
      width: 100%; }
  .about-message .experience-row2 {
    width: 100%;
    text-align: center; }
    .about-message .experience-row2 a {
      padding: 5px 50px; }
  .title-parts {
    flex-direction: column; }
    .title-parts h1 {
      margin: 0 0 10px; }
    .title-parts a {
      text-align: center; }
  .shop-choose {
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 50px; }
    .shop-choose .shop-item {
      width: 100%;
      margin-bottom: 30px; }
  .contacts-line .contacts-line__text {
    flex-wrap: wrap;
    line-height: 0;
    text-align: center; }
    .contacts-line .contacts-line__text .contacts {
      width: 100%; }
      .contacts-line .contacts-line__text .contacts span {
        line-height: 60px; }
  .footer-links {
    margin: 40px 0;
    flex-direction: column;
    align-items: center;
    padding-bottom: 0; }
    .footer-links ul:nth-child(3) {
      display: none; }
    .footer-links .footer-links__list {
      display: none; }
    .footer-links .footer-links__menu {
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      text-align: center; }
      .footer-links .footer-links__menu li {
        width: 100%;
        margin-bottom: 8px;
        padding: 2px 0;
        border: 1px solid black; }
        .footer-links .footer-links__menu li a {
          text-decoration-line: none; }
    .footer-links .footer-links__logo {
      width: 90%;
      text-align: center;
      padding-right: 0; }
      .footer-links .footer-links__logo img {
        float: none;
        vertical-align: bottom; }
      .footer-links .footer-links__logo a {
        float: none; }
      .footer-links .footer-links__logo p {
        padding-top: 10px; }
  .footer-rights_flex span {
    margin: 0 auto; } }
